
:root {
    --purple-bg: #3D348B;
    --purple-dk-bg: #15113E;
    --wood-bg: #050506;
    --white-bg: #FFFFFF;
    --yellow-bg: #F4D03D;
    --black-bg: #000000;
    --clear-bg: #F5FFFA;
    --link-color: #3D348B;
}


html, 
body {
    height: 100%;
}

.text-stylize {
    padding: 20px 0px;
}

.text-stylize::after {
    width: 100%;
    height: 4px;
    display: block;
    content: '';
    background: var(--yellow-bg);
}

.text-stylize.last {
    padding-bottom: 0;
    margin: 0 0 1px;
}



.ba-author {
    font-size: 12px;
    text-align: right;
    margin: 0;
    padding: 0;
    display: block;
}

.nav {
    background: var(--purple-dk-bg);
    padding: 10px 0;
    color: var(--clear-bg);
    text-align: center;
    font-weight: 900;
    font-size: 30px;
}

a:visited {
    color: inherit;
}

.nav__home-link {
    text-decoration: none;
    transition: 300ms; 
    color: var(--yellow-bg);
}

.nav__home-link:hover {
    color: var(--yellow-bg);
    cursor: pointer;
}

.blog-posts__container {
    background: var(--clear-bg);
    height: 100%;
    /* display: block; */
}

.blog-post__title {
    font-size: 100px;
}


@font-face {
    font-family: 'Suez One';
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/suezone/v4/taiJGmd_EZ6rqscQgOFMmouC-50xUK4.woff2) format('woff');
}

.blog-post__subtitle {
    font-style: italic;
    font-family: 'Suez One';
    margin: 0 0 40px;
}

.blog-post__subtitle-content {
    max-width: 80%;
}

.blog-posts__hightlight {
    color: var(--yellow-bg);
}

.blog-posts__hightlight.symbol {
    transform: rotate(-180deg);
    display: inline-block;
}

.blog-post__title {
    color:var(--purple-bg);
    margin: 20px 0;
    letter-spacing: -1.7px;

}

.blog-posts {
    margin: 0px auto;
    max-width: 800px;
    padding: 50px 0 100px;
    display: flex;
    flex-wrap: wrap;
    background: var(--clear-bg);
}

.blog-post-content {
    margin: 50px auto 100px;
    /* max-width: 700px; */
    line-height: 1.7;
    font-weight: 500;
    color: var(--purple-dk-bg);
}

.blog-post-content > *:not(.full-width),
.blog-post-content > .full-width > *{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-sizing: border-box;
    width: 100%;

    /* padding: 0 calc((100vw - 700px) / 2); */
}

.blog-post-content img{
    border-radius: 2px;
    width: 100%;

    max-width: 700px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.blog-post-content hr{
    border: 0 solid transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    max-width: calc(700px - 100px);
    margin: 54px auto;
}

.back-link {
    text-align: right;
    display: block;
    text-decoration: none;
    font-weight: bold;
    max-width: 700px;
    margin: 0 auto;
}

.blog-posts h1 a {
    color: var(--purple-bg);
    transition: 300ms;
    text-decoration: none;
    font-weight: 900;
    font-size: 36px;
}

.blog-posts h1 a:hover {
    color: var(--purple-dk-bg);
    transition: 300ms;
}


.blog-posts h5 {
    margin: 0;
}

.blog-posts__date {
    color: var(--yellow-bg);
    display: block;
    padding: 10px 0;
    font-size: 18px;
    font-style: italic;
}

.blog-post-preview {
    margin: 40px 0;
}

.blog-post-preview h1 {
    margin: 0;
    width: 85%;
}

.blog-posts__excerpt{
    color: var(--purple-dk-bg);
    line-height: 1.5;
    font-weight: 500;
}

.blog-posts__excerpt a {
    color: var(--purple-dk-bg);
    text-decoration: none;
}


.prev-btn:hover img{
    opacity: 0.75;
}

.blog-quote {
    margin: 0;
}

.centre-align {
    display: block;
    width: 100%;
    margin: 0 auto;
}

/* ////  */

.blog-post {
    background: var(--clear-bg);
    height: 100%;
    padding: 40px 0;

}

.blog-post p, ul{
    letter-spacing: 1.25px;
    font-weight: 400;
}

.blog-post-container {
    background: var(--clear-bg);
}


.blog-post h1 {
    font-size: 50px;
    color: var(--purple-bg);
    font-weight: 800;
    margin: 0 auto;
    max-width: 700px;
}

.blog-post__date {
    max-width: 700px;
    margin: 10px auto;
    font-size: 18px;
    font-style: italic;
    color: var(--yellow-bg);
    
}

.stylize_i {
    font-style: italic; 

}

.full-width {
    padding: 40px 0 50px;
    color: white;
    margin: 50px 0;
}

.black-bg {
    background-color: var(--black-bg);
}

.dk-purple-bg {
    background-color: var(--purple-dk-bg);
}



@media only screen and (max-width: 800px) {
    .blog-posts {
        padding: 50px 30px 100px;
    }

    .full-width {
        padding: 40px 20px 50px;
    }

    .blog-post h1 {
        font-size: 40px;
    }
    
    .blog-post-content > *:not(.full-width),
    .blog-post-content > .full-width > *{
        padding: 0 calc((100vw - 500px) / 2);
    }

    .blog-post > h1,
    .blog-post > h5,
    .blog-post-content > *:not(.full-width):not(img):not(figure){
        margin: 20px 5vw;
        width: 90vw;
    }

    .blog-post-content > img{
        border-radius: 0 !important;
        margin: 40px 0;
    }

    figure{
        margin: 40px 0;
    }

    figure img{
        border-radius: 0 !important;
    }

    figure figcaption,
    .back-link{
        width: 90vw;
        margin: 0 5vw;
    }

 }


@media only screen and (max-width: 500px) {
    .blog-post {
        /* padding: 10px 10px; */
        padding: 10px 0;
    }

    .blog-post__title {
        font-size: 80px;
    }

    .blog-post-preview {
        margin: 20px 0;
    }

    .blog-post h1 {
        font-size: 34px;
        margin-bottom: .5em;
    }

    .blog-post h5{
        font-size: 16px;
    }
  
}


.skill-list ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 240px;
}

.twitter-outer {
    background-color: var(--black-bg);
    padding: 40px 0 50px;
    color: #fff;
    margin: 50px 0;
}

.twitter-section .flex-grid{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    max-width: 1080px;
}

.twitter-tweet {
    padding: 0 !important;
    margin: 0 10px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

figcaption {
    margin: 0 0 30px;
    text-align: right;
    font-size: 10px;
}

.Tweet-card {
    display: none;
    
}